<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GEMINI_API_KEY
GEMINI_API_KEY
GEMINI_API_KEY
</key>
	<string>AIzaSyAlEHW76I6ARzb3-qaZOgJMWhZMlcf9_Vo</string>
	<key>UIAppFonts</key>
	<array>
		<string>FWC2026-NormalRegular.ttf</string>
		<string>FWC2026-NormalBlack.ttf</string>
	</array>
</dict>
</plist>
